@using LibraryModels;

@model  LibraryModels.Access

@{
    ViewBag.Title = "Новый пользователь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CreateStyle.css" rel="stylesheet" />

<h2>Добавление нового пользователя</h2>


<div>

    @using (Html.BeginForm("Create", "Access", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mt">
            <div class="col-md-3 mt">
                <p>Login: </p>
            </div>
            <div class="col-md-2 mt">
                @Html.DropDownListFor(model => model.Login, Model.Logins, new { @class = "drop" })
            </div>
            <div class="col-md-3 mt">
                @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <p>Уровень доступа: </p>
            </div>
            <div class="col-md-2 ">
                <p>
                    <input type="radio" value="false" checked name="AllowedEdit" /> Чтение
                </p>

                <p>
                    <input type="radio" value="true" name="AllowedEdit" /> Чтение и запись
                </p>
            </div>
            <div class="col-md-3 ">
                @Html.ValidationMessageFor(model => model.AllowedEdit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt">
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>
        </div>
    }
</div>