/****** Object:  Database [DUTYOFSERVICEDAPART_2279af7fceed455a82a2a8647cfdca41]    Script Date: 07/28/2019 19:51:51 ******/
CREATE DATABASE [DUTYOFSERVICEDAPART_2279af7fceed455a82a2a8647cfdca41] ON  PRIMARY 
( NAME = N'DutyOfServiceDapart.mdf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DutyOfServiceDapart.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DutyOfServiceDapart_log.ldf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DutyOfServiceDapart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DUTYOFSERVICEDAPART_2279af7fceed455a82a2a8647cfdca41].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07/28/2019 19:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accesses]    Script Date: 07/28/2019 19:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesses](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[AllowedEdit] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Accesses] PRIMARY KEY CLUSTERED 
(
	[AccessId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/28/2019 19:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtremIncidents]    Script Date: 07/28/2019 19:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtremIncidents](
	[IncidentId] [int] IDENTITY(1,1) NOT NULL,
	[DateIncident] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DecsIncident] [nvarchar](max) NULL,
	[Employee_EmployeId] [int] NULL,
 CONSTRAINT [PK_dbo.ExtremIncidents] PRIMARY KEY CLUSTERED 
(
	[IncidentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Employee_EmployeId] ON [dbo].[ExtremIncidents] 
(
	[Employee_EmployeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DutyLists]    Script Date: 07/28/2019 19:51:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DutyLists](
	[DutyId] [int] IDENTITY(1,1) NOT NULL,
	[DateDuty] [datetime] NOT NULL,
	[DecrDuty] [nvarchar](max) NULL,
	[Employee_EmployeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DutyLists] PRIMARY KEY CLUSTERED 
(
	[DutyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Employee_EmployeId] ON [dbo].[DutyLists] 
(
	[Employee_EmployeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.ExtremIncidents_dbo.Employees_Employee_EmployeId]    Script Date: 07/28/2019 19:51:56 ******/
ALTER TABLE [dbo].[ExtremIncidents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExtremIncidents_dbo.Employees_Employee_EmployeId] FOREIGN KEY([Employee_EmployeId])
REFERENCES [dbo].[Employees] ([EmployeId])
GO
ALTER TABLE [dbo].[ExtremIncidents] CHECK CONSTRAINT [FK_dbo.ExtremIncidents_dbo.Employees_Employee_EmployeId]
GO
/****** Object:  ForeignKey [FK_dbo.DutyLists_dbo.Employees_Employee_EmployeId]    Script Date: 07/28/2019 19:51:56 ******/
ALTER TABLE [dbo].[DutyLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DutyLists_dbo.Employees_Employee_EmployeId] FOREIGN KEY([Employee_EmployeId])
REFERENCES [dbo].[Employees] ([EmployeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DutyLists] CHECK CONSTRAINT [FK_dbo.DutyLists_dbo.Employees_Employee_EmployeId]
GO
