@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div align=center>
        @*<div style="width:220px; border:1px solid #c0c0c0; padding:6px;">*@
            <table id="calendar" border="1" cellspacing="1" cellpadding="1">
                <thead>
                    <tr><td><b>‹</b><td colspan="5"><td><b>›</b>
                    <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

