@model System.Data.Entity.DbSet<DutyOfServiceDepart.Models.Employee>
@{
    ViewBag.Title = "Новая авария";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleCreate.css">
<h2>Добавить информацию об аварии</h2>
<div>
    <h3>Введите необходимые данные:</h3>
    @using (Html.BeginForm("Create", "Incident", FormMethod.Post))
    {

       
        <table>
            <tr>
                <td><p>Дата возникновения аварии:</p></td>
                <td>
                    <input type="date" name="StartIncident" required />

                </td>
            </tr>
            <tr>
                <td><p>Дата устранения аварии:</p></td>
                <td><input type="date" name="FinishIncident" required /> </td>
            </tr>
            <tr>
                <td><p>Ответсвенный за устранение:</p></td>
                <td>
                    @Html.DropDownList("EmployeId", new SelectList(Model, "EmployeId", "Name"))
                </td>
            </tr>
            <tr>
                <td><p>Описание аварии:</p></td>
                <td><textarea name="DescIncident">Введите описание</textarea></td>
            </tr>

        </table>
        <input class="but" id="but1" type="submit" value="Добавить" />
    }
</div>




