@model IEnumerable<DutyOfServiceDepart.Models.Employee>
@{
    ViewBag.Title = "Создать отчёт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleCreate.css">
<h2>Новый отчёт</h2>
<div>
    <h3>Введите необходимые данные:</h3>
    @using (Html.BeginForm("CreateReport", "Report", FormMethod.Post))
    {

        <table >

            <tr>
                <td><p>Имя дежурного: </p></td>
                <td>
                    @Html.DropDownList("EmployeeName", new SelectList(Model, "Name", "Name"))
                </td>
            </tr>

            <tr>
                <td><p>Выберите месяц: </p></td>
                <td>
                    <input type="month" name="Date" required />
                </td>
            </tr>
            
            <tr><td><input class ="but" id="but1" type="submit" value="Скачать отчёт" /> </td><td></td></tr>
        </table>
    }
    </div>


