@model IEnumerable<LibraryModels.Employee>

@{
    ViewBag.Title = "Создать отчёт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CreateStyle.css" rel="stylesheet" />

<h2>Новый отчёт</h2>

<div>

    @using (Html.BeginForm("CreateReport", "Report", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mt">

            <div class="col-md-3 mt">
                <p>Имя дежурного: </p>
            </div>

            <div class="col-md-3 mt">
                @Html.DropDownList("EmployeeName", new SelectList(Model, "Name", "Name"), new { @class = "drop input-sm" })
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 ">
                <p>Выберите месяц: </p>
            </div>

            <div class="col-md-3 ">
                <input class="drop input-sm" type="month" name="Date" required />
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 mt">
                <input class="btn btn-primary" type="submit" value="Скачать отчёт" />
            </div>

        </div>

    }
</div>


