body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    overflow-x: scroll;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    background: left;
    background-color: #E6E6FA;
}
.tm-blue-bg {
    background-color: #006599;
    color: white;
}
.att{
   width:500%;
}
.tm-logo-div {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    width: 17%;
}
a {
    text-decoration: none;
} 
.right-column {
    padding-left:20px;
    margin-left:10px;
    float: right;
    width: 80%;
}





.tm-blue-bg a {
    color: white;
}




.tm-main-nav {
    display: none;
}

.tm-main-nav-ul {
    display: inline-block;
    padding-left: 0;
}



    .tm-nav-item:hover a,
    .tm-nav-item:active a,
    .tm-nav-item:focus a,
    .tm-nav-item-link.active {
        text-decoration: none;
        color: #f4ef5e;
    }





@media (min-width: 576px) {
 .container {
        width: 100%;
    }
}

 



@media (min-width: 992px) {
    .tm-main-nav {
        display: flex;
        justify-content: center;
    }


    .tm-left-column {
        position: fixed;
        height: 100%;
    }

    .container {
        width: 100%;
    }

    .tm-left-column {
        width: 20%;
    }



    .right-column {
        float: right;
        width: 80%;
    }

    .tm-nav-item {
        cursor: pointer;
        font-size: 1.5rem;
        list-style: none;
        padding: 18px 30px;
        transition: all 0.3s ease;
    }



    .tm-logo-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

