.send {
    display: block;
    background-color: #87CEEB;
    border: 1px solid #CCCCCC;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    right: 2%;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px auto;
    width: 50%;
}

    .send:hover, send:focus {
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);*/
        outline: 0 none;
    }

.head {
    display: inline-block;
}
