/*.addemp a {
    color: #006400;
    font-size: 18pt;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}*/





#a1:visited {
    color:blue;
}
.but {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.but:hover, but:focus {
    /*border-color: rgba(82, 168, 236, 0.8);*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
#but1 {
    height: 27px;
    width:80px;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color:cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}
tr{
    height:30px;
    background-color:brown;
}
td {
    width: 135px;
    vertical-align: central;
}


table tbody tr:nth-child(2n) {
    background: #f4f4f4;
}
table tbody tr:nth-child(2n) {
    background-color: blue;
}
table tbody tr:hover {
    background: #ebffe8;
}

/*.nametab {

    color: black;
    background: #87CEEB;
    font-size: 16pt;
    text-align: center;
    font-weight: bold;

}*/
.nametab:hover {
    
    background: #87CEEB;
 }
  
/*.edrem {
    display:block;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    
  
}
    .edrem:hover, edrem:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
    }*/


