

@{
    ViewBag.Title = "Новый сотрудник ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleCreateEmp.css">
<h2>Добавление нового сотрудника</h2>

<div>
    <h3>Введите необходимые данные:</h3>
    <form method="post" action="" class="tm-right-columnt">
      
        <table class="createemp">
          
            <tr>
                <td><p>Имя: </p></td>
                <td><input type="text" name="Name" required/> </td>
            </tr>
          
            <tr>
                <td><p>E-mail:</p></td>
                <td>
                    <input type="text" name="Email"  required/>
                </td>
            </tr>
            <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
        </table>
    </form>
</div>

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>
