

@{
    ViewBag.Title = "Новый сотрудник";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleCreate.css">
<h2>Добавление нового сотрудника</h2>


<div>
    <h3>Введите необходимые данные:</h3>
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td><p>Имя: </p></td>
                <td><input type="text" name="Name" required /> </td>
            </tr>

            <tr>
                <td><p>E-mail:</p></td>
                <td>
                    <input type="text" name="Email" required />
                </td>
            </tr>
            <tr>
                <td><p>Логин:</p></td>
                <td>
                    <input type="text" name="Login" required />
                </td>
            </tr>
        </table>
        <input class="but" id="but1" type="submit" value="Добавить" />
    }
</div>

